@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 500ms;
}
:root{
    --100-green:#199493;
    --100-green-text:#199493;
    --100-pink:#F7A1A4;
    --100-white:#f5f5f5;
    --100-white-text:#f5f5f5; 
}
:root:has(#inp_change_mode:checked){
    --100-green:#1f1f1f;
    --100-pink:#F7A1A4;
    --100-white:#171717;
    --100-green-text:#f5f5f5;
}
body{
    background-color: var(--100-white);
    height: 100vh;
    height: 100svh;
    font-family: 'Josefin Sans', sans-serif;
}
nav.navbar{
    position: fixed;
    z-index: 9;
    background-color: var(--100-green);
    width: 100%;
    height: 75px;
    padding-inline: min(32px, 5%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 1px #0003;
}
nav.navbar img.nav_logo{
    width: min(65px, 90%);
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: center;
}
nav.navbar h2.nav_cat_name{
    color: var(--100-white-text);
    font-size: 3rem;
    font-weight: 300;
}
nav.navbar input[type='checkbox']{
    display: none;
}
nav.navbar .toggle_btn{
    background-color: var(--100-white-text);
    width: 100px;
    height: 46px;
    border: 3px solid var(--100-pink);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
    position: relative;
    cursor: pointer;
}
nav.navbar label.toggle_btn svg{
    z-index: 1;
}
:where(nav.navbar label.toggle_btn svg.toggle_sun) :where(path, circle){
    stroke: var(--100-white);
    fill: var(--100-white);
    transition: stroke 150ms 250ms, fill 150ms 250ms;
}
nav.navbar label.toggle_btn svg.toggle_moon path{
    transition: fill 150ms 250ms;
}
nav.navbar label.toggle_btn div.ball{
    position: absolute;
    inset: 50% 0 0 0;
    transform: translate(5px,-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--100-green);
    transition: inset 500ms, transform 500ms;
}
/* when input's check */
#inp_change_mode:checked + label.toggle_btn div.ball{
    inset: 50% 0 0 100%;
    transform: translate(calc(-100% - 5px), -50%);
}
#inp_change_mode:checked + label.toggle_btn :where(svg.toggle_sun) :where(path, circle){
    stroke: var(--100-pink);
    fill: var(--100-pink);
}
#inp_change_mode:checked + label.toggle_btn svg.toggle_moon path{
    fill: var(--100-white-text);
}

main.main{
    position: relative;
    /* background-color: aquamarine; */
}
main.main section.container{
    width: 100%;
    height: 100svh;
    background-image: url(../images/Conteudo/Captura\ de\ Tela\ \(46\).png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main.main section.container::after{
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #F7A1A450;
}
main.main section.container h1.cat_name{
    font-size: clamp(3rem, 20vw + 1rem, 8rem);
    font-weight: 700;
    color: var(--100-white-text);
    text-shadow: 4px 4px 4px #0007;
    isolation: isolate;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
}
main.main img.gatinho{
    width: min(85%, 526px);
    position: absolute;
    inset: 100% 0 0 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
    user-select: none;
}
main.main section.characteristics{
    width: 100%;
    padding: 220px 0px 64px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;

}
main.main section.characteristics h2{
    color: var(--100-green-text);
    font-size: min(3rem, 10vw);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
main.main section.characteristics div.characteristic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px clamp(16px, 5vw, 90px);
    padding: 0px min(100px, 10%);
}
main.main section.characteristics div.characteristic > div{
    border-radius: 100px;
    background-color: var(--100-green);
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
}
main.main section.characteristics div.characteristic div.star_rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px 16px;
}
main.main section.description{
    background-color: var(--100-green);
    padding: 32px min(15%, 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}
main.main section.description p{
    color: var(--100-white-text);
    font-size: 2rem;
    font-weight: 300;
    line-height: 125%;
}
main.main section.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0px 314px 0px;
}
main.main section.pictures h2{
    color: var(--100-green-text);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
main.main section.pictures div.pictures_grid{
    /* background-color: red; */
    width: min(944px, 80%);
    display: grid;
    grid-template-columns: repeat(5, max(1fr, 120px));
    grid-template-rows: repeat(3, 100px);
    gap: 32px 16px;
}
main.main section.pictures div.pictures_grid img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
main.main section.pictures div.pictures_grid img:first-child{
    grid-column: 1 / 3;
}
main.main section.pictures div.pictures_grid img:nth-child(6){
    grid-column: 2 / 5;
}
main.main section.pictures div.pictures_grid img:last-child{
    grid-column: 3 / 6;
}

footer.footerbar{
    background-color: var(--100-green);
    position: relative;
    display: flex;
    
    /* justify-content: center; */
    padding: 200px 0px 32px 0px;
}
footer.footerbar img.gatinho{
    width: min(85%, 526px);
    position: absolute;
    inset: 00% 0 0 50%;
    transform: translate(-50%, -60%);
    user-select: none;
}
footer.footerbar h2{
    font-size: clamp(3rem, 15vw + 1rem, 8rem);
    font-weight: 300;
    color: var(--100-white-text);
    margin-inline: auto;
    align-self: center;
}
footer.footerbar a{
    position: absolute;
    align-self: flex-end;
    margin: 0px auto 0px 32px;
    font-size: 2rem;
    font-weight: 300;
    color: var(--100-white-text);
    text-decoration: none;
}
footer.footerbar a:hover{
    text-decoration: underline;
}
*::selection{
    background-color: var(--100-green);
    color: var(--100-white-text);
}
footer.footerbar *::selection, 
main.main section.description p::selection,
nav.navbar *::selection{
    background-color: var(--100-white-text);
    color: var(--100-green);
}
@media (max-width:500px) {
    footer.footerbar{
        justify-content: center;
    }
    footer.footerbar h2{
        transform: translateY(max(-70px, -60%));
    }
    footer.footerbar a{
        margin-inline: auto;
    }
}